.navbar {
    width: 100%;
    height: 60px;
    position: fixed;
    top: 0;
    left: 0;    
    z-index: 1000;
    padding: 0 20px;
    background: #000000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    border-bottom: 1px solid grey;
}
.nav-left {
    display: flex;
    align-items: center;
    gap: 15px;
}
.hamburger {
    font-size: 20px;
    cursor: pointer;
    color: white;
}
.logo-circle {
    width: 38px;
    height: 38px;
    
    
    display: flex;
    align-items: center;
    justify-content: center;
    color: #ff8400;
    font-weight: bold;
}
.logo-circle img{
    border-radius: 50%;
    width: 50px;
    height: 40px;
}
.brand {
    display: flex;
    align-items: center;
    font-size: 18px;
    font-weight: 600;
}
.brand-main {
    color: white;
}
.brand-accent {
    color: #ff8400;
}
.nav-right {
    display: flex;
    align-items: center;
    gap: 25px;
}
.nav-right a {
    text-decoration: none;
    color: white;
    font-size: 14px;
    display: flex;
    align-items: center;
    transition: 0.3s;
}
.nav-right a:hover {
    color: #ff8400;
}
.badge-link {
    display: flex;
    background-color: transparent;
    color: #ffffff;
    border: none;
    align-items: center;
    gap: 6px;
    font-size: 15px;
}
.badge-link:hover{
    color: #ff8400;
    cursor: pointer;

}
.new-badge {
    background: #ff8400;
    color: black;
    font-size: 10px;
    padding: 2px 7px;
    border-radius: 20px;
    display: inline-block;
    animation: bounce 1.4s infinite ease-in-out;
}
.dots {
    font-size: 18px;
    cursor: pointer;
    display: flex;
    align-items: center;
}
@keyframes bounce {
    0%, 100% { transform: translateY(0); }
    50% { transform: translateY(-5px); }
}
