

.game-container {
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: 1fr 220px;

  height: calc(100vh - 70px);
  margin-top: 70px;

  background: #0d0d0d;
  gap: 12px;
  padding: 12px;

  box-sizing: border-box;
}

.left-panel {
  grid-column: 1;
  grid-row: 1;

  background: #141414;
  border-radius: 12px;
  padding: 16px;

  overflow: hidden;

  box-shadow: 0 0 15px rgba(255, 140, 0, 0.05);
}



.right-panel {
  grid-column: 2;
  grid-row: 1;

  background: #141414;
  border-radius: 12px;
  padding: 16px;

  overflow-y: auto;

  box-shadow: 0 0 15px rgba(255, 140, 0, 0.05);

  display: flex;
  flex-direction: column;
  gap: 16px;
}



.bottom-panel {
  grid-column: 1 / span 2;
  grid-row: 2;

  background: black;
  border-radius: 12px;

  padding: 10px;

  overflow-y: auto;

  box-shadow: inset 0 0 10px rgba(0, 255, 0, 0.1);
}



.right-panel::-webkit-scrollbar,
.bottom-panel::-webkit-scrollbar {
  width: 6px;
}

.right-panel::-webkit-scrollbar-thumb,
.bottom-panel::-webkit-scrollbar-thumb {
  background: #444;
  border-radius: 10px;
}