@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');



.navbar {
    position: sticky;
    top: 0;
    z-index: 1000;

    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px 0;

    background: rgba(8, 15, 40, 0.85);
    backdrop-filter: blur(8px);       
}
.navbar p {
    margin: 0;
}

.navbar .logo {
    color: #facc15;
    font-family: 'Anton', sans-serif;
    font-size: 40px;
    letter-spacing: 2px;
    margin: 0;
}

.navbar .tagline {
    color: #22d3ee;
    font-family: "Bebas Neue", sans-serif;
    font-size: 18px;
    letter-spacing: 3px;
    margin-bottom: 5px;
    
}




.hero {
    min-height: 100vh;
    position: relative;   

    background:
        linear-gradient(rgba(8, 15, 40, 0.654), rgba(8, 15, 40, 0.654)),
        url("../assets/BG2.webp");

    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    display: flex;
    flex-direction: column;
    justify-content: flex-start; 
    align-items: center;

    padding-top: 150px;            
    text-align: center;
    color: white;
}
.hero h1 {
    font-size: 60px;
    font-family: "Bebas Neue", sans-serif;
    letter-spacing: 2px;
}

.hero h2 {
    font-size: 40px;
    font-family: "Bebas Neue", sans-serif;
    opacity: 0.9;
    margin-top: 10px;
}

.hero p {
    margin-top: 15px;
    margin-bottom: 30px;
    font-size: 18px;
    opacity: 0.8;
    margin-bottom: 170px;
}



.hero-buttons {
    display: flex;
    gap: 20px;
}


.primary-btn {
    background-color: #facc15;
    color: #000;
    border: none;
    padding: 14px 32px;
    border-radius: 30px;
    font-weight: 600;
    cursor: pointer;
    transition: 0.3s ease;
}

.primary-btn:hover {
    transform: translateY(-3px);
    box-shadow: 0 10px 25px rgba(250, 204, 21, 0.4);
}



.secondary-btn {
    background-color: transparent;
    color: #facc15;
    border: 2px solid #facc15;
    padding: 14px 32px;
    border-radius: 30px;
    font-weight: 600;
    cursor: pointer;
    transition: 0.3s ease;
}

.secondary-btn:hover {
    background-color: #facc15;
    color: #000;
    transform: translateY(-3px);
    box-shadow: 0 10px 25px rgba(250, 204, 21, 0.4);
}

.features {
    display: flex;
    justify-content: center;
    align-items: stretch;
    gap: 60px;

    padding: 120px 0;
    background-color: #050d22;

    max-width: 1200px;
    margin: 0 auto;   
}





.feature-card {
    background: rgba(255, 255, 255, 0.04);
    border: 1px solid rgba(255, 255, 255, 0.08);
    border-radius: 18px;
    padding: 50px 40px;
    width: 380px;

    display: flex;
    flex-direction: column;
    align-items: center;

    text-align: center;
    backdrop-filter: blur(8px);
    transition: 0.3s ease;
}
.feature-card img {
    width: 80px;
    height: 80px;
    object-fit: contain;
    margin-bottom: 30px;
}

.feature-card:hover {
    transform: translateY(-10px);
    box-shadow: 0 20px 50px rgba(0,0,0,0.5);
}



.feature-card h3 {
    font-family: "Bebas Neue", sans-serif;
    font-size: 28px;
    margin-bottom: 20px;
}

.feature-card p {
    font-size: 15px;
    opacity: 0.8;
    line-height: 1.6;
    margin: 0;
}


